# This file specifies files that are *not* uploaded to Google Cloud Platform when using gcloud.
# See `gcloud topic gcloudignore` for more details.

.git
.gitignore
node_modules/
vendor/
.env
.env.*
storage/
tests/
Dockerfile
docker/
README.md

*** End Patch